.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 100px auto;
}
img{
    height: 100%;
    width: 100%;
   
}